.status-badge {
  padding: 0.5rem 1rem;
  font-size: 0.75rem;
  font-weight: 600;
  border-radius: 9999px;
  color: white;
  border: none;
  box-shadow: 0 2px 6px rgba(255, 160, 65, 0.5);
  transition: background-color 0.3s ease;
}
.rx-loader-btn:hover {
   background-color: rgb(136, 90, 150);
}

@keyframes pulse-shadow {
  0% {
    box-shadow: 0 0 0 0 #a57ec9;
  }
  70% {
    box-shadow: 0 0 0 10px rgba(218, 103, 68, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(218, 103, 68, 0);
  }
}

@keyframes fadeSlideDown {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.animate-fadeSlideDown {
  animation: fadeSlideDown 0.3s ease forwards;
}
@layer utilities {
  @media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
    .mac-fix {
      @apply max-w-lg px-8 py-2 rounded-3xl;
      height: 400px;
      min-height: 470px;
    }
    .mac-form-fix {
      @apply space-y-4;
    }
    .mac-logo-fix {
      @apply w-14 h-14 -mt-4  mx-auto flex items-center justify-center;
    }
    .mac-logo-fix img {
      @apply w-10 h-12 object-contain;
    }
    .mac-top{
      margin-top: 2px;
    }
  }
}




.task-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border-radius: 0.75rem;
  border: 1px solid var(--border-light);
  background: var(--bg-surface);
  transition: all 0.3s;
}

.task-card:hover {
  background: var(--bg-card);
  box-shadow: 0 1px 2px rgba(0,0,0,0.05);
  border-color: var(--border-card);
}

.task-title {
  font-size: 0.875rem;
  font-weight: 600;
  color: var(--text-primary);
}

.task-subtitle {
  font-size: 0.75rem;
  color: var(--text-muted);
}


.badge-high {
  @apply text-xs font-semibold px-3 py-1 rounded-full bg-red-100 text-red-500;
}

.badge-medium {
  @apply text-xs font-semibold px-3 py-1 rounded-full bg-blue-100 text-blue-500;
}

.badge-low {
  @apply text-xs font-semibold px-3 py-1 rounded-full bg-gray-200 text-gray-500;
}


.custom-checkbox {
  @apply w-5 h-5 rounded-full border-2 border-gray-300 text-emerald-500 focus:ring-emerald-400;
}




